h2 There must be four players before a game can start.
- pending_players.each do |player|
  h2 =player

br


div.loader

javascript:
  Pusher.logToConsole = true;

  var pusher = new Pusher('5b23c1673191a16f606d', {
    cluster: 'us2',
    encrypted: true
  });

  var channel = pusher.subscribe('app');
  channel.bind('game-changed', function(data) {
    window.location.reload();
  });
