
body {
  background-color: #339933;
}


h1 {
  text-align: center;
  font-size: 50px;
  background-color: #339933;
}


.top-cards {
  text-align: center;
}

.deck-card {
  margin-left: -30px;
  margin-right: -30px;
}

.left-cards {
   display: inline;
   text-align: left;
   transform: rotate(90deg);
   left:0;
   height:50%;
   position: absolute;
}

.right-cards {
   text-align: right;
   transform: rotate(-90deg);
   right:0;
   height:50%;
   position: absolute;
}

.playing-space {
  text-align: center;
  height: 250px;
}

.middle-card {
 text-align: center;
 margin-top: 10px;
}

.your-hand {
  text-align: center;
}
